#collection-list-component {
  grid-area: content;
}

#collection-list,
#skeleton-list {
  display: grid;
  grid-auto-rows: minmax(50px, auto);

  margin: 0;
  padding: 0;
}

#create-new-collection-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.add-to-my-collections-btn {
  position: absolute;
  right: 20%;
}

.collection-list-element,
#skeleton-list-element {
  display: flex;
  border-bottom: solid 1px;
  border-bottom-color: var(--border-color, pink);
  align-items: center;
  padding: 5px;
  transition: all 0.4s;
}

.collection-list-element:hover {
  background-color: var(--background-color-hovered, pink);
}

#collections-header {
  border-bottom: solid 1px;
  border-color: var(--border-color, pink);
}

#collections-options {
  margin-top: 5px;
  border-bottom: solid 2px;
  border-color: var(--border-color, pink);
}

#collections-options h5 {
  margin: 7px 0;
}

#star-rating {
  margin-left: 5px;
}

#star-icon {
  color: gold;
}
