#collection-list-component {
  grid-area: content;
}

#collection-list {
  display: grid;
  grid-auto-rows: minmax(50px, auto);

  margin: 0;
  padding: 0;
}

#create-new-collection-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.add-to-my-collections-btn {
  position: absolute;
  right: 20%;
}

.collection-list-element {
  display: flex;
  border-bottom: solid 1px;
  border-bottom-color: var(--border-color, pink);
  align-items: center;
  padding: 5px;
}

.collection-list-element:hover {
  background-color: var(--background-color-hovered, pink);
}
