#question-list {
  display: grid;
  grid-auto-rows: minmax(40px, auto);
  padding: 0;
}

.question-list-element {
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  border-bottom: solid 1px;
  border-color: var(--border-color, pink);
}

.question-list-element:hover {
  background-color: var(--background-color-hovered, pink);
}

#question-utils {
  float: right;
  margin-right: 10px;
}

#question-utils-container {
  display: flex;
}

#trash-icon {
  margin-left: 10px;
  padding: 2px 5px;
  display: inline-block;
  background-color: var(--delete-btn-color, pink);
  color: var(--background-color-hovered, pink);
  border-radius: 4px;
  border: none;
}

#trash-icon:hover {
  background-color: var(--delete-btn-color-hover, pink);
}

#edit-btn {
  padding: 5px;
}
