#skeleton-big {
  width: 70%;
}

#skeleton-medium {
  width: 45%;
}

#skeleton-small {
  width: 20%;
}

#skeleton-container {
  width: 100%;
  height: 100%;
}

.skeleton {
  border-radius: 15px;
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(90deg, #ccc, #eee);
  background-size: 300%;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
